
.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    /* border: 2px solid black; */
    height: 550px;
    margin-top: 15px;
    text-align: center;
    
}  

/* .flex-child:first-child {
      margin-right: 20px;
}  */
.image{
    background-image: url("https://www.hubspot.com/hubfs/professional-background-bio.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 5px 5px black;
}
.heading{
    /* color: #ff9a9c; */
    color: #c76a6c;
    /* font-size: 45px; */
    text-transform: capitalize;
    /* margin-top: 2px; */
}
input{
    width: 300px;
    height: 35px;
    border-radius: 23.5px;
    padding: 0 24px;
    font-weight: 500;
    font-size: 15px;
    /* border: none; */
    background: transparent;
    /* background: hsl(0, 7%, 91%); */
    /* background: rgb(236, 229, 229); */
    /* margin-top: 10px; */
    text-transform: capitalize;
    border: 1px solid black;
}
select{
    width: 300px;
    height: 35px;
    border-radius: 23.5px;
    padding: 0 24px;
    font-weight: 500;
    font-size: 15px;
    background: transparent;
    text-transform: capitalize;
    border: 1px solid black;
}
button{
    letter-spacing: 2px;
    border: none;
    width: 200px;
    height: 47px;
    margin-right: 19px;
    border-radius: 23.5px;
    align-items: center;
    justify-content: center;
    /* padding: 0; */
    /* background: #ff9a9c; */
    background:#c76a6c;
    font-size: 19px;
    color: #fff;
    text-transform: uppercase;
    font-family: montserrat-semibold;
    /* margin-top: 20px; */
    box-shadow: 5px 5px 1px gray;
}
button:hover{
    background-color: #6f383a
}
a{
    text-decoration: none;
    font-size: 25px;
    text-transform: capitalize;
    color: black;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    text-transform: capitalize;
    color: #6f383a;
    font-size: 20px;
    margin-top: 20px;
}
#username{
    margin-top: 20px;
}
a:hover{
    color: #491f21;
}