.flex-container {
    display: flex;
}
.flex-child {
    flex: 1;
    height: 550px;
    margin-top: 15px;
    text-align: center;    
}  
.image{
    /* background-image: url("https://www.hubspot.com/hubfs/professional-background-bio.jpeg"); */
    background-image: url("https://img.freepik.com/premium-photo/office-blue-desk-equipment-working-top-view-flat-lay-blue-background_38937-393.jpg?w=2000");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 5px 5px black;
}
.heading{
    color: #1f4950;
    text-transform: capitalize;
    margin-top: 10px;
}
body{
    background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
}
input{
    width: 300px;
    height: 35px;
    border-radius: 23.5px;
    padding: 0 24px;
    font-weight: 500;
    font-size: 15px;
    background: transparent;
    text-transform: capitalize;
    border: 1px solid black;
}
select{
    width: 300px;
    height: 35px;
    border-radius: 23.5px;
    padding: 0 24px;
    font-weight: 500;
    font-size: 15px;
    background: transparent;
    text-transform: capitalize;
    border: 1px solid black;
}
button{
    letter-spacing: 2px;
    border: none;
    width: 200px;
    height: 47px;
    margin-right: 19px;
    border-radius: 23.5px;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(315deg, #e3b5bb 0%, #477178 74%);
    font-size: 19px;
    color: #fff;
    text-transform: uppercase;
    font-family: montserrat-semibold;
    margin-top: 20px;
}

#username{
    margin-top: 30px;
}