h2{
    text-align: center;
    padding-top: 20px;
}
.card{
    width: 800px;
    height: 300px;
    margin: auto;
    margin-top: 50px;
    box-shadow: 1px 1px 5px black;
    overflow: hidden;
}
.data{
    margin-left: 50px;
    text-transform: capitalize;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.card-title{
margin-left: 50px;
text-transform: uppercase;
}


.col-md-8{
    background-color: #deebdd;
/* background-image: linear-gradient(315deg, #deebdd 0%, #bbdbbe 74%); */
background-color: #d4c2b8;

}

body{
background-color: #d8cbc4;
}
