<link rel="stylesheet" href="/stylesheets/company/add-job-form.css">
<div class="main">
<form action="/company/addjob" method="post">
    <div class="data">
        <h1>add jobs</h1>
<input type="text" name="jobtitle" placeholder="job title" id="jobtitle" required><br><br>
<input type="text" name="description" placeholder="description" required><br><br>
<input type="vaccancy" name="vaccancy" placeholder="vaccancy" required><br><br>
<input type="text" name="category" placeholder="category" required><br><br>
<input type="number" name="salary" placeholder="salary" required><br><br>
<input type="text" name="area" placeholder="area" required><br><br>
<input type="date" name="publisheddate" placeholder="published date" required><br><br>
<button>submit</button>
</div>
</form>
</div>