<link rel="stylesheet" href="/stylesheets/company/company-login.css">
{{#if errormsg}}
<h2>{{errormsg}}</h2>
{{/if}}

<form action="/company/complogin" method="post">
    <div class="main">
        <h1>log in</h1>
    <input type="email" name="email" placeholder=" email" class="email"><br><br>
    <input type="password" name="password" placeholder="password"><br><br> 
    <button type="submit">log in</button> 
    </div>
</form>
<div class="footer">
    <h5>don't have an account ?</h5>
   <a href="/company/compsignup"> <h5>sign up</h5></a>
</div>