<link rel="stylesheet" href="/stylesheets/profile.css">
<div class="main">
    <div class="image-container">
        <img>
        <br><br>
        {{!-- <button type="button">update</button> --}}
    </div>
    <div class="second">
        <h1>sruthi</h1> 
         <hr>
        <p class="data1 dob">dob</p>
        <p class="data1">gender</p>
        <p class="data1">religion</p>
    </div>

    <div class="third">
        {{!-- <p class="address">address</p> --}}
        <h1 class="contact">contact</h1><hr>
        <p class="data2 address">address</p>
        <p class="data2">mobile number</p>
        <p class="data2">email</p>
        <button type="button">update</button>

    </div>
    <div class="fourth">
    {{!-- <p class="data">abc@gmail.com</p> --}}
    {{!-- <p class="data">898765456</p> --}}
    {{!-- <p class="data">degree</p> --}}
    <h1 class="edu">education</h1><hr>
    <p class="data3 qualification">qualification</p>
    <p class="data3">languages</p>
</div>
    
</div>