@import url('https://fonts.googleapis.com/css2?family=Abel&family=Catamaran:wght@100&family=Cormorant+SC:wght@300&family=Inconsolata:wght@200&family=Lobster&family=Permanent+Marker&family=Rubik+Moonrocks&family=Smokum&display=swap');
body{
    background-image: url("https://i.pinimg.com/736x/27/d4/ec/27d4ec1f4267ccc814a765d5e7427899.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   }
   .main{
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-wrap: nowrap;
    padding-left : 440px;
   }
  
   .first{
    width: 30vw;
    height: 50vh;
    padding-left: 20px;
    padding-top: 10px;
    background-color: white;

   }
   .second{
    width: 30vw;
    height: 50vh;
    padding-left: 20px;
    
    background-color: white;

   }

   .compname{
    margin-top: 20px;
   }
   input{
    width: 250px;
    height: 30px;
    margin-left: 40px;
    border-radius: 30px;
    border: 1px solid rgb(19, 33, 19) ;
    padding-left: 20px;
    text-transform: capitalize;
}
select{
    width: 250px;
    height: 30px;
    margin-left: 40px;
    border-radius: 30px;
    border: 1px solid rgb(19, 33, 19) ;
    padding-left: 20px;
    text-transform: capitalize;
}

textarea{
    width: 250px;
    height: 30px;
    margin-left: 40px;
    border-radius: 30px;
    border: 1px solid rgb(19, 33, 19) ;
    padding-left: 20px;
    text-transform: capitalize;

}

h5{
    text-align: center;
    text-transform: capitalize;
    padding-top: 10px;
    width: 30vw;
    height: 50px;
    background-color: aliceblue;
    margin-left: -20px;
    background-color: rgb(9, 56, 9);
color: white;
font-family: 'Inconsolata', monospace;
text-transform: capitalize;
font-size: 30px;
}
#description{
    margin-top: 15px;
}
h1{
    background-color: aquamarine;
    margin-left: 440px;
    margin-right: 108px;
    text-align: center;
    margin-top: 100px;
    text-transform: uppercase;
    color: white;
    background-color: rgb(9, 37, 9);
    font-family: 'Inconsolata', monospace;

}
button{
    width: 200px;
    height: 40px;
    margin-left: 750px;
    border-radius: 20px;
    background-color: rgb(19, 33, 19);
    color: white;
    font-size: 18px;
    text-transform: capitalize;
    margin-top: 2px
}
button:hover{
    background-color: rgb(9, 37, 9);
}
